<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap-dark-5@1.1.3/dist/css/bootstrap-night.min.css" rel="stylesheet"> -->
    <link href="bootstrap.min.css" rel="stylesheet">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.1.3/axios.min.js"></script>
</head>

<body>
    <div id="app">
        <nav class="navbar navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">Project Manager - Web v1</a>
            </div>
        </nav>
        <br>
        <div class="container-fluid align-middle">
            <div class="row">
                <div class="col-2 align-middle" style="height: 900px;">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Search</span>
                        </div>
                        <input type="text" class="form-control" v-model="search_str" @input="search_tasks">
                        <div class="input-group-append rounded-0">
                            <span class="input-group-text rounded-right">
                                <button class="btn btn-close" @click="clear_search_box"></button>
                            </span>
                        </div>
                    </div>
                    <span><br></span>

                    <div v-for="task in filtered_tasks" class="card card-rounded card-hover-effect"
                        @click="open_task(task.id)">
                        <div class="card-header">
                            <p class="text-uppercase">{{task.name}}<br><small class="text-uppercase"
                                    style="color: grey;">{{task.category}}</small></p>
                        </div>
                        <div class="card-body" v-if="task.description != ''">
                            <p>{{task.description}}</p>
                        </div>
                    </div>
                </div>


                <div class="col-10">
                    <div class="container overflow-hidden h-80">
                        <div class="row">
                            <ul class="nav nav-tabs">
                                <li class="nav-item">
                                    <button class="nav-link" :class="{active: active_tab == 'tasks'}"
                                        @click="active_tab = 'tasks'">Overview</button>
                                </li>
                                <li class="nav-item">
                                    <button class="nav-link"
                                        :class="{active: active_tab == 'task_details', disabled: task_selected == false}"
                                        @click="active_tab = 'task_details'">
                                        Task Details
                                    </button>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Link</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link disabled">Disabled</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="container tab" v-if="active_tab == 'tasks'">
                        <br>
                        <div class="row">
                            <div class="btn-group" role="group">
                                <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                    data-bs-target="#new_task_modal">New Task</button>
                                <button type="button" class="btn btn-secondary">Middle</button>
                                <button type="button" class="btn btn-secondary">Right</button>
                            </div>
                        </div>
                        <br>
                        <div class="row" v-for="task in tasks">
                            <div class="card card-rounded card-hover-effect-small" @click="open_task(task.id)">
                                <div class="card-header">
                                    <div class="float-end">
                                        <input type="checkbox">

                                    </div>
                                    <h5 class="text-uppercase">{{task.name}}</h5>
                                    <small class="fst-italic text-uppercase"
                                        style="color: grey;">{{task.category}}</small>

                                </div>
                                <div class="card-body" v-if="task.description != ''">
                                    <strong v-if="task.description != ''">Description:</strong>
                                    <p class="card-text-small fw-light fst-italic">{{ task.description }}</p>
                                    <!-- <button class="btn btn-primary" @click="open_task(task.id)">Open</button> -->
                                </div>
                            </div>
                            <br>
                        </div>
                        <br>
                    </div>
                    <div class="container tab" v-if="active_tab == 'task_details'">
                        <br>
                        <h3 v-if="task_selected == false">No task selected.</h3>
                        <div class="btn-group align-start" role="group"><button class="btn btn-outline-light"
                                @click="edit_task = true" v-if="edit_task == false">Edit</button>
                            <button class="btn btn-outline-success" @click="update_task"
                                v-if="edit_task == true">Save</button>
                            <button @click="close_task" class="btn btn-outline-danger">Close</button>
                        </div>
                        <hr>


                        <div class="card card-rounded border-secondary overflow-scroll" style="height: 800px">
                            <div class="card-header">

                                <br>

                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Name</span>
                                    </div>
                                    <input class="form-control" type="text" name="name" v-model="active_task.name"
                                        :readonly="edit_task ? false : true">
                                </div>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Category</span>
                                    </div>
                                    <input class="form-control" type="text" name="name" v-model="active_task.category"
                                        :readonly="edit_task ? false : true">
                                </div>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Charge Number</span>
                                    </div>
                                    <input class="form-control" type="text" name="name" v-model="active_task.charge_num"
                                        :readonly="edit_task ? false : true">
                                </div>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Disposition</span>
                                    </div>
                                    <select class="form-select" aria-label="Default select example"
                                        v-model="active_task.disposition" :disabled="edit_task ? false : true">
                                        <option value="" selected>Unknown...</option>
                                        <option value="IN-PROGRESS">In-Progress</option>
                                        <option value="COMPLETE">Complete</option>
                                        <option value="REWORK">Rework</option>

                                    </select>
                                </div>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Use Local FS</span>
                                    </div>
                                    <input class="form-check-input align-middle" type="checkbox" value=""
                                        v-model="active_task.use_local_fs" :disabled="edit_task ? false : true">
                                </div>
                                <small class="fst-italic">NOTE: Changing task name or category while using local file
                                    system will require files to be moved from old task directory to the new one based
                                    on the updated name and category.</small>

                            </div>
                            <div class="card-body overflow-scroll" style="height: 100%">

                                <div class="card border-secondary">
                                    <div id="description" class="card-header">Description</div>
                                    <div class="card-body">
                                        <textarea class="form-control" v-model="active_task.description" rows="3"
                                            :readonly="edit_task ? false : true"></textarea>
                                    </div>
                                </div>
                                <div class="card border-secondary">
                                    <div class="card-header">TVE</div>
                                    <div class="card-body">
                                        <textarea class="form-control" v-model="active_task.tve" rows="3"
                                            :readonly="edit_task ? false : true"></textarea>
                                    </div>
                                </div>
                                <div class="card border-secondary">
                                    <div class="card-header">Notes</div>
                                    <div class="card-body">
                                        <textarea class="form-control" v-model="active_task.notes" rows="20"
                                            :readonly="edit_task ? false : true"></textarea>
                                    </div>
                                </div>
                                <div class="card border-secondary">
                                    <div class="card-header">Todos</div>
                                    <div class="card-body">
                                        <textarea class="form-control" v-model="active_task.todos" rows="10"
                                            :readonly="edit_task ? false : true"></textarea>
                                    </div>
                                </div>





                            </div>
                        </div>



                    </div>
                </div>
            </div>
        </div>


        <div class="modal" v-if="new_modal_show" id="new_task_modal" ref="new_task_modal">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div v-if="task_already_exists_error" class="alert alert-danger">
                        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                        <strong>Task Already Exists!</strong>
                        <p href="#" class="alert-link">A task with the same name
                            and category already exists. Please try again.</p>
                    </div>
                    <div v-if="field_empty_error" class="alert alert-danger">
                        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                        <strong>Some fields are empty!</strong>
                    </div>
                    <div class="modal-header">
                        <h5 class="modal-title">New Task</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true"></span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Name</span>
                            </div>
                            <input class="form-control" type="text" name="name" v-model="new_task.name">
                        </div>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Category</span>
                            </div>
                            <input class="form-control" type="text" name="name" v-model="new_task.category">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" @click="submit_new_task"
                            v-on:keyup.enter="submit_new_task">Submit</button>
                        <button type="button" class="btn btn-secondary" @click="reset_new_task">Clear</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                            @click="reset_new_task">Close</button>
                        <button type="button" class="close invisible" data-bs-dismiss="modal" aria-label="Close"
                            id="close_new_modal">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <button type="button" class="btn btn-outline-success btn-floating btn-lg" id="btn-back-to-top">

            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up"
                viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                    d="M8 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L7.5 2.707V14.5a.5.5 0 0 0 .5.5z" />
            </svg>
        </button>

        <h5>active task below</h5>
        <p>{{ active_task }}</p>
        <p>search_str: {{search_str}}</p>
        <p>filtered_tasks: {{filtered_tasks}}</p>
    </div>

    <script>
        const { createApp } = Vue

        createApp({
            data() {
                return {
                    tasks: [],
                    show_tasks_container: true,
                    active_tab: 'tasks',
                    task_selected: false,
                    edit_task: false,
                    selected_task_id: null,
                    active_task: {},
                    search_str: "",
                    filtered_tasks: [],
                    ask_delete_task: false,
                    task_already_exists_error: false,
                    field_empty_error: false,
                    new_task: {
                        "name": "",
                        "category": "",
                        "use_local_fs": true
                    },
                    new_modal_show: true,
                    base_url: "http://127.0.0.1:8000"
                }
            },
            methods: {
                get_all() {
                    axios.get(this.base_url + '/tasks')
                        .then(response => this.tasks = response.data)
                },
                clear_search_box() {
                    this.filtered_tasks = []
                    this.search_str = ""
                },

                search_tasks() {
                    this.filtered_tasks = []
                    if (this.search_str == '') {
                        return
                    }
                    for (const task of this.tasks) {
                        console.log(task)
                        console.log(task.name)
                        console.log(String(task.name).includes(this.search_str))
                        if (task.name.includes(this.search_str)) {
                            this.filtered_tasks.push(task)
                        }
                        else if (task.category.includes(this.search_str)) {
                            this.filtered_tasks.push(task)
                        }
                        else if (task.description.includes(this.search_str)) {
                            this.filtered_tasks.push(task)
                        }
                        else if (String(task.notes).includes(this.search_str)) {
                            this.filtered_tasks.push(task)
                        }
                        else if (String(task.charge_num).includes(this.search_str)) {
                            this.filtered_tasks.push(task)
                        }
                        else if (String(task.tve).includes(this.search_str)) {
                            this.filtered_tasks.push(task)
                        }
                        else {
                            continue
                        }
                    }
                },

                task_combo_exists(new_task) {
                    for (const task of this.tasks) {
                        // console.log(task.name)
                        console.log(new_task.name)
                        if ((task.name == new_task.name) && (task.category == new_task.category)) {
                            return true
                        }
                    }
                    return false
                },
                close_new_task_modal() {
                    document.getElementById('close_new_modal').click()
                },
                check_new_modal_empty() {
                    if ((this.new_task.name == "") || (this.new_task.category == "")) {
                        return true
                    }
                    return false
                },

                async submit_new_task() {
                    empty = this.check_new_modal_empty()
                    if (empty) {
                        this.field_empty_error = true
                        return
                    }
                    exists = this.task_combo_exists(this.new_task)
                    console.log(exists)
                    if (exists) {
                        this.task_already_exists_error = true
                        return
                    }
                    const response = await axios.post(this.base_url + '/tasks/new', this.new_task)
                    console.log('submitted')
                    this.active_task = response.data
                    this.task_already_exists_error = false
                    this.field_empty_error = false
                    this.close_new_task_modal()
                    console.log(response)
                    this.edit_task = true
                    this.active_tab = 'task_details'
                    this.reset_new_task()
                    this.get_all()
                },

                reset_new_task() {
                    this.new_task = {
                        "name": "",
                        "category": "",
                        "use_local_fs": true
                    }
                },

                open_tab(name) {
                    if (name == 'tasks') {
                        this.show_tasks_container = true;
                    }
                },

                open_task(id) {
                    console.log(id)
                    this.selected_task_id = id
                    this.task_selected = true
                    this.active_task = this.tasks.find(task => task.id === this.selected_task_id)
                    this.active_tab = 'task_details'
                },

                close_task() {
                    this.selected_task_id = null
                    this.task_selected = false
                    this.active_tab = 'tasks'
                    this.active_task = {}
                    this.edit_task = false
                },

                async update_task() {
                    const response = await axios.post(this.base_url + '/tasks/update', this.active_task)
                    console.log('submitted')
                    this.active_task = response.data
                    console.log(response)
                    this.edit_task = false
                },

                try_save_task(){
                    if (this.active_task != {} && this.active_tab == 'task_details' && this.edit_task){
                        this.update_task()
                    }
                }
            },

            mounted() {
                this.get_all()

                window.addEventListener('keydown', (e)=>{
                    if (!(e.keyCode == 83 && e.ctrlKey)){
                        return
                    }
                   e.preventDefault();
                   this.try_save_task()
                    
                })
            }
        }).mount('#app')
    </script>
    <script>
        let mybutton = document.getElementById("btn-back-to-top");

        // When the user scrolls down 20px from the top of the document, show the button
        window.onscroll = function () {
            scrollFunction();
        };

        function scrollFunction() {
            if (
                document.body.scrollTop > 20 ||
                document.documentElement.scrollTop > 20
            ) {
                mybutton.style.display = "block";
            } else {
                mybutton.style.display = "none";
            }
        }
        // When the user clicks on the button, scroll to the top of the document
        mybutton.addEventListener("click", backToTop);

        function backToTop() {
            document.body.scrollTop = 0;
            document.documentElement.scrollTop = 0;
        }
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
        crossorigin="anonymous"></script>
</body>
<style>
    #btn-back-to-top {
        position: fixed;
        bottom: 20px;
        right: 20px;
        display: none;
    }

    .card-rounded {
        border-radius: 6px;
        padding: 6px;
    }

    .tab {
        outline-width: 2px;
    }

    .input-group>.input-group-prepend {
        flex: 0 0 20%;
    }

    .input-group .input-group-text {
        width: 100%;
    }

    .card-hover-effect .card {
        transition: transform 0.2s ease;
        box-shadow: 0 4px 6px 0 rgba(22, 22, 26, 0.18);
        border-radius: 0;
        border: 0;
        margin-bottom: 1.5em;
    }

    .card-hover-effect:hover {
        transform: scale(1.05);
    }

    .card-hover-effect-small .card {
        transition: transform 0.2s ease;
        box-shadow: 0 4px 6px 0 rgba(22, 22, 26, 0.18);
        border-radius: 0;
        border: 0;
        margin-bottom: 1.5em;
    }

    .card-hover-effect-small:hover {
        transform: scale(1.0075);
    }
</style>

</html>