<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-dark-5@1.1.3/dist/css/bootstrap-night.min.css"
              rel="stylesheet">
        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.1.3/axios.min.js"></script>
    </head>
    <body>
        <div id="app">
            <h1>Tasks</h1>
            <div class="container-fluid align-middle">
                <div class="row">
                    <div class="col-2">Column</div>
                    <div class="col-10">
                        <div class="container">
                            <div class="row">
                                <ul class="nav nav-tabs">
                                    <li class="nav-item">
                                        <button class="nav-link"
                                                :class="{active: active_tab == 'tasks'}"
                                                @click="active_tab = 'tasks'">Overview</button>
                                    </li>
                                    <li class="nav-item">
                                        <button class="nav-link"
                                                :class="{active: active_tab == 'task_details'}"
                                                @click="active_tab = 'task_details'">
                                            Task Details
                                        </button>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">Link</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link disabled">Disabled</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="container tab" v-if="active_tab == 'tasks'">
                            <div class="row" v-for="task in tasks">
                                <div class="card card-rounded">
                                    <div class="card-header">[{{ task.id }}] {{ task.name }}</div>
                                    <div class="card-body">
                                        <p class="card-text">Description: {{ task.description }}</p>
                                        <button class="btn btn-primary" @click="open_task(task.id)">Open</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="container tab" v-if="active_tab == 'task_details'">
                            <h3 v-if="task_selected == false">No task selected.</h3>
                            <h3>Name: {{ active_task.name }}</h3>
                            <p>Selected Task ID: {{ selected_task_id }}</p>
                            <h3>Name: {{ active_task.name }}</h3>
                            <a class="btn btn-secondary" @click="edit_task = true">Edit</a>
                            <input type="text" name="name" v-model="active_task.name">
                            <button @click="update_task">Update</button>
                            
                        </div>
                    </div>
                </div>
            </div>
            <h1>active task below</h1>
            <p>{{ active_task }}</p>
        </div>
        <script>
        const { createApp } = Vue

        createApp({
            data() {
                return {
                    tasks: [],
                    show_tasks_container: true,
                    active_tab: 'tasks',
                    task_selected: false,
                    edit_task: false,
                    selected_task_id: null,
                    active_task: {}
                }
            },
            methods: {
                get_all() {
                    axios.get('http://127.0.0.1:8000/tasks')
                        .then(response => this.tasks = response.data)
                },

                open_tab(name) {
                    if (name == 'tasks') {
                        this.show_tasks_container = true;
                    }
                },

                open_task(id) {
                    console.log(id)
                    this.selected_task_id = id
                    this.task_selected = true
                    this.active_task = this.tasks.find(task => task.id === this.selected_task_id)
                    this.active_tab = 'task_details'
                },
                async update_task(){
                    const response = await axios.post('http://127.0.0.1:8000/tasks/update', this.active_task) 
                    console.log('submitted')
                    this.active_task = response.data
                    console.log(response)

                }
            },

            mounted() {
                this.get_all()
            }
        }).mount('#app')
        </script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
    </body>
    <style>
    .card-rounded {
        border-radius: 6px;
        padding: 6px;
    }

    .tab {
        outline-width: 2px;
    }

    </style>
</html>
